/* div {
  border: 2px solid red;
} */

@font-face {
  font-family: "Providence Sans Pro";
  src: url("assets/fonts/Providence-Sans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.hidden {
  visibility: hidden;
}

#sw-logo {
  display: none;
}

#background-window {
  position: fixed;
  right: 0%;
  top: 0vh;
  width: 35vw;
}

#dev-container {
  background-color: var(--pink);
  position: relative;
  font-family: "Providence Sans Pro", sans-serif;
}

#whiteboard-container-desktop {
  background-image: url('assets/images/whiteboard.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 75vh;
  width: 50vw;
  position: fixed;
  left: 10%;
  z-index: 9;
  display: none;
}

#whiteboard-container-mobile {
  background-image: url('assets/images/whiteboard-mobile.png');
  z-index: 9;
  height: 120vh;
  width: 130%;
  position: fixed;
  top: -15%;
  left: -10%;
}

.showcase-container {
  position: relative;
  z-index: 99;
}

.showcase {
  overflow: hidden;
  min-height: 100vh;
}

.not-visible {
  display: none;
}

#computer-desk {
  
}

#dev-header, #mobile-dev-header {
  overflow: visible;
}

#dev-header {
  display: none;
}
/* showcase styles */

.showcase-text {
  font-family: "Providence Sans Pro", sans-serif;
}

#intro-content {
  position: relative;
  top: 10vh;
  padding: 0 2rem;
  height: 100vh;
}

#projects-header {
  width: 80%;
  display: block;
  position: fixed;
  top: 15rem;
  left: 10%;
}

#intro-text {
  line-height: 1.4rem;
  text-align: left;
}

.projects-header-path {
  fill: none;
  stroke: black;
  stroke-width: 6;
}

/* brrl website showcase styles */

#brrl-logo {
  width: 100%;
  margin: 0 auto;
}

#brrl-showcase {
  height: 800vh;
  position: relative;
  padding-top: 60vh;
}

.sticky-container {
  position: sticky;
  top: 0rem;
}

#brrl-showcase-content {
  position: sticky;
  top: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#brrl-showcase-header {
  position: relative;
  width: 40%;
  left: 20%;
  margin-top: 6rem;
}

.brrl-img {
  border: solid 10px var(--deep-blue);
  border-radius: 20px;
}

.desktop-screenshot, .mobile-screenshot {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.desktop-screenshot {
  width: 40%;
}

.mobile-screenshot {
  width: 10%;
}

#brrl-website-img {
  position: relative;
  left: 15%;
  top: 2rem;
}

#brrl-mobile-img {
  position: absolute;
  right: 25%;
  z-index: 888;
}

#brrl-menu-img {
  position: absolute;
  right: 18%;
  z-index: 888;
}

#brrl-text {
  width: 40%;
  position: absolute;
  left: 20%;
  font-size: 1.2rem;
  top: 0rem;
  line-height: 2rem;
  opacity: 0;
}

.brrl-header-path {
  fill: none;
  stroke: #115B9C;
  stroke-width: 3;
}

/* BRRL Events showcase styles */
.events-header-path {
  fill: none;
  stroke: #093357;
  stroke-width: 7;
}

#events-showcase {
  position: relative;
  height: 1400vh;
}

#events-showcase-header {
  position: sticky;
  width: 100%;
  transform: rotate(6deg);
}

#brrl-events-logo {
  display: block;
  width: 100%;
}

#brrl-events-header {
  width: 30%;
  position: absolute;
  right: 15vw;
  top: 3rem;
}

#staff-home-text {
  position: absolute;
  width: 80%;
  left: 0;
  padding: 0 10%;
  line-height: 1.5rem;
}

#events-scroll-container-1 {
  height: 100vh;
  position: relative;
}

#events-description {
  position: absolute;
  top: 0;
}

#events-features-header {
  font-size: 1.5rem;
}

.events-img {
  border: solid 4px var(--pink);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.events-image-caption {
  visibility: hidden;
}

#events-text-container h3 {
  opacity: 0;
}

#contact-container {
  height: 40vh;
  top: 20rem;
  max-width: 90vw;
  margin: 0 auto;
}

#contact-header {
  position: fixed;
  width: 80%;
  margin: 0 auto;
  height: 40rem;
  top: 4rem;
  display: none;
}

.contact-button {
    fill: #a1d9d6;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
}

.contact-button:hover, .contact-button:focus, .contact-button:active {
    box-shadow: inset 0 -3.25rem 0 0 var(--deep-blue)
}

#footer-logo {
  width: 80%;
  position: fixed;
  display: none;
  top: 5rem;
  left: 0rem;
}

@media (orientation: portrait) {

  #sw-logo {
    width: 100%;
    top: -12rem;
    left: 0;
    position: fixed;
    display: block;
    filter: drop-shadow(0.25rem 0.25rem 3px #0000006c);
  }

  #projects-header {
    top: 20rem;
  }


  /* brrl showcase styles */

  #brrl-showcase-header {
    width: 90%;
    left: 5%
  }

  #brrl-text {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin: 0 auto;
    left: 10%;
    top: 2rem;
    width: 80%;
  }

  .desktop-screenshot {
    width: 90%;
  }

  .mobile-screenshot {
    width: 30%;
  }

  /* events showcase styles */
  #brrl-events-header {
    width: 80%;
    right: 10%;
  }

  #events-showcase-content {
    position: relative;
    top: 16rem;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    line-height: 1.2rem;
  }

  #computer-desk {
    display: block;
    position: fixed;
    width: 120%;
    left: 0%;
    z-index: 999;
  }
}

@media (orientation: landscape) {
  #whiteboard-container-desktop {
    display: block;
  }

  #whiteboard-container-mobile {
    display: none;
  }

  #computer-desk {
    display: block;
    position: fixed;
    width: 120%;
    left: 10%;
    pointer-events: none;
    z-index: 999;
  }

  #dev-header {
    display: block;
    margin: 5rem 0 0 4rem;
    padding: 0 2rem;
  }

  #mobile-dev-header {
    display: none;
  }

  /* showcase styles */
  #projects-header {
    width: 20%;
    display: block;
    position: fixed;
    top: 15rem;
    left: 20%;
  }

  #events-showcase {
    height: 1400vh;
  }

  #events-showcase-content {
    min-height: 100vh;
  }

  #events-text-container {
    max-width: 35vw;
    height: fit-content;
    position: relative;
    font-size: 1.8rem;
    line-height: 2.2rem;
    top: 30vh;
    left: 10%;
  }
  
  .absolute-container {
    position: absolute;
  }

  #events-features-header {
    font-size: 2.4rem;
  }
  
  #events-description span {
    opacity: 0;
  }

  #events-features-header, #staff-home-text {
    visibility: hidden;
  }
}
  