@keyframes sketchJitter {
    0% { transform: translateX(0) rotate(-1deg); }
    50% { transform: translateX(0) rotate(0); }
    100% { transform: translateX(0) rotate(-1deg); }
}

#dev-container {
    background-color: var(--pink);
    position: relative;
}

#whiteboard-container {
    background-image: url('assets/images/whiteboard-mobile.png');
    background-size: cover;
    height: 75vh;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    font-family: "ff-providence-sans-web-pro", sans-serif;
    transition: all 0.5s ease-in-out;
}

#whiteboard-container.zoomed {
    position: fixed;
    width: 100%;
    height: 110vh;
    z-index: 9999;
    background-position: 15%;
    left: 0;
  }

#whiteboard-container h2 {
    text-align: center;
    margin-top: 8rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1rem;
    line-height: 2rem;
}

#whiteboard-container h4 {
    text-align: right;
    transform: rotate(4deg);
    font-size: 0.8rem;
    margin: 0 2rem 0 0;
}

#whiteboard-container ul {
    margin: 3rem auto 0 auto;
    width: 75%;
    font-size: 1.5rem;
    font-weight: 400;
}

#whiteboard-container li {
    margin: 1.5rem 0;
    cursor: pointer;
    width: fit-content
}

#whiteboard-container li:hover {
    animation: sketchJitter 0.5s infinite steps(1, end);
}

.not-visible {
    display: none;
}
  