@keyframes cloudFloat {
    0% { transform: translateY(0); }
    50% { transform: translateY(-2rem); } /* Moves up slightly */
    100% { transform: translateY(0); } /* Returns to original position */
}

@keyframes fly-in-from-left {
    0% {
      transform: translateX(-120vw);
      opcacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fly-in-from-right {
    0% {
      transform: translateX(120vw);
      opcacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

#design-container {
    background-color: #FDF5E9;
}

#horizontal-logo, #vertical-logo {
    z-index: 15;
    position: relative;
    cursor: pointer;
}

#horizontal-logo {
    max-width: 80%;
    width: 75rem;
    margin: auto;
    display: block;
}

#vertical-logo {
    display: none;
}

#design-content {
    background-color: #fff;
    width: fit-content;
    min-width: 60%;
    max-width: 20rem;
    overflow: hidden;
    border: solid 5px #000;
    border-radius: 2rem;
    min-height: 20vh;
    margin: 5rem auto 5rem auto;
    padding: 2rem 5%;
}

#design-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-blue);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.design-arrow {
    max-width: 15%;
    position: relative;
    
}

.design-arrow img {
    width: 80%;
    height: auto;
}

#left-arrow, #right-arrow {
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.34, 1.6, 0.64, 1);
}

#left-arrow:hover, #right-arrow:hover, #left-arrow:active, #right-arrow:active, #left-arrow:focus, #right-arrow:focus {
    transform: rotate(10deg);
    outline: none;
}

#left-arrow {
    transform: rotate(-5deg);
}

#right-arrow {
    transform: rotate(-10deg);
}

#showcase-title {
    max-width: 70%;
    font-family: 'new-kansas', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    color: var(--gray);
}

#client-logo img {
    width: 100%;
    height: auto;
}

#deco-container {
    max-width: 50rem;
    margin: 0 auto;
    position: relative;
    top: -8rem;
    pointer-events: none;
}

#ui-cloud, #design-cassette-container {
    position: absolute;
}

#ui-cloud {
    z-index: 10;
    width: 60%;
    animation: fly-in-from-left 0.5s ease-out 1s forwards, cloudFloat 10s ease-in-out 1.5s infinite;
    opacity: 0;
}

#design-cassette-container {
    height: auto;
    width: 65%;
    transform: rotate(10deg);
    right: 1rem;
    z-index: 5;
    animation: fly-in-from-right 0.5s ease-out 1.2s forwards;
    opacity: 0;
}

#design-cassette {
    width: 100%;
    height: 100%;
    transform: rotate(10deg);
}

#design-images {
    width: 100%;
}

#design-images img {
    max-height: 9rem;
    max-width: 90%;
    display: block;
    margin: 2rem auto;
}

#design-text {
    font-family: 'new-kansas', sans-serif;
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: left;
    width: 85%;
    margin: 0 auto 3rem auto;
}

#design-text p {
    margin: 1rem 0;
    text-indent: 1rem;
}



/* Mobile responsiveness */
@media only screen and (max-width: 1000px) {
    #horizontal-logo {
        display: none;
    }

    #vertical-logo {
        display: block;
        width: 70%;
        margin: auto;
    }

    #design-content {
        width: 85%;
    }
}

@media (min-aspect-ratio: 1.2/1) {
    #design-flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #design-content {
        margin: 10rem 0 5rem 0;
        max-width: 40%;
        min-width: 25%;
    }

    #deco-container {
        width: 40%;
        position: relative;
        margin: 5rem 0;
        left: -5%;
    }

    #ui-cloud {
        width: 100%;
        top: -2rem;
    }

    #design-cassette-container {
        width: 75%;
        transform: rotate(0);
        top: -5rem;
        right: -12rem;
    }

    #design-cassette {
        transform: rotate(20deg);
    }
}