<div id="home-container" class="component-container">
  <div class="content-container">
    <img id="horizontal-logo" src="/assets/images/studio-watlington-logo.png" alt="Studio Watlington Logo" />
    <img id="vertical-logo" src="/assets/images/vertical-logo.png" alt="Studio Watlington Logo" />
    <h2 id="jap-name">スタジオ・ワトリントン</h2>
    <div id="cassette-container">
      <div id="dev-tape-container">
        <img id="dev-tape" src="assets/svg/dev-cassette.svg" alt="Web Development" />
      </div>
      <div id="design-tape-container">
        <img id="design-tape" src="assets/svg/design-cassette.svg" alt="Graphic Design"/>
      </div>
    </div>
  </div>
  <div #cloudContainer id="cloud-container" class="clouds-layer"></div>
  <div id="cityscape-container" class="cityscape-layer"></div>
  <div id="banner-plane-container">
    <img src="assets/images/plane.webp" alt="Banner Plane" id="banner-plane" />
  </div>
  <div id="hill-container"></div> 
</div>