#home-container {
    background: rgb(1,25,54);
    background: linear-gradient(180deg, rgba(1,25,54,1) 0%, rgba(1,25,54,1) 72%, rgba(248,180,190,1) 100%);
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 5rem;
}

#horizontal-logo {
    max-width: 80%;
    width: 75rem;
    margin:  auto;
    display: block;
    display: hidden;
}

#vertical-logo {
    display: none;
}


@media only screen and (max-width: 800px) {
    #horizontal-logo {
        display: none;
    }

    #vertical-logo {
        display: block;
        max-width: 80%;
        width: 75rem;
        margin:  auto;
    }
}