.home-container {
    background: rgb(1,25,54);
    background: linear-gradient(180deg, rgba(1,25,54,1) 0%, rgba(1,25,54,1) 62%, rgba(248,180,190,1) 100%);
    min-height: 100vh;
    min-width: 100vw;
}